<div class="small-banner">
  <div class="small-banner-content">
    <h1><%= @cocktail.name %></h1>
  </div>
</div>
<div class="wrapper-dark" style="height:50vh">
  <div class="container">
    <!-- style="height: 59.6vh" -->
    <div class="row">
      <div class="col-xs-12 col-md-6">
          <h2>Ingredients</h2>
          <ul>
            <% @cocktail.doses.each do |dose| %>
            <li> <%= dose.ingredient.name %> : <%= dose.description %> <%= link_to "Remove", dose_path(dose), method: :delete %> </li>
            <% end %>
          </ul>
      </div>
      <div class="col-xs-12 col-md-6">
        <h2>Add an ingredient</h2>
        <%= simple_form_for [@cocktail, @dose] do |f| %>
          <%= f.association :ingredient, label: false, :input_html =>{ class: 'select2'} %>
          <%= f.input :description, label: false, placeholder: "Enter a dose"  %>
          <%= f.submit "Add", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-form" id="wrapper-blank-with-links">
  <h3>Manage the cocktails</h3>
  <!-- <p>Type a cocktail to find</p> -->
  <%= link_to "Delete this cocktail", cocktail_path(@cocktail), method: :delete%>
  <!-- <p>Type a cocktail to find</p> -->
  <%= link_to "Go back to cocktails", cocktail_path(@cocktail), method: :delete%>
</div>

